// Colors
$blue-1:    #4C51BF;
$blue-2:    #002555;
$indigo:    #6610f2;
$purple:    #6f42c1;
$pink:      #e83e8c;
$red:       #ff487e;
$orange:    #ff5959;
$yellow:    #ffc107;
$green:     #45b380;
$teal:      #20c997;
$cyan:      #3bb4c1;
$dark-1:    #1e1e27;

$primary:     #319795;
$secondary:   #506690;
$soft-green:  #eaf5f3;
$light:       #f7fafc;
$dark:        #17141d;
$success:     #45b380;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);


$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #F7F9FC;
$gray-300: #EAEDF2;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #555A64;
$gray-800: #343a40;
$gray-900: #2C3038;
$black:    #000;

$grays: (
	"100": $gray-100,
	"200": $gray-200,
	"300": $gray-300,
	"400": $gray-400,
	"500": $gray-500,
	"600": $gray-600,
	"700": $gray-700,
	"800": $gray-800,
	"900": $gray-900
);


$body-bg:                   $white;
$text-color:                $dark;
$hover-color:               $red;
$body-color:              #343a40;
$border-color:            #e7ebf1;
$hr-border-color:		  #e7ebf1;
$border-color-dark:       #242a35 !important;
$link-hover-decoration:     none;
$link-decoration:           none;
$link-color:                theme-color("primary");
$link-hover-color:          darken($link-color, 5%);
$headings-color:          $dark;


$navbar-dark-color:         rgba($white, .65);
$navbar-dark-hover-color:   rgba($white, .85);
$navbar-dark-active-color:  $navbar-dark-color;



// Options
$enable-shadows:                              true;
$enable-responsive-font-sizes:                true;

// Typography
$font-family-base: 'Nunito', sans-serif;

$font-weight-light: 300;
$font-weight-normal: 600;
$font-weight-bold: 700;

$font-weight-base:	$font-weight-normal;

$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.5;
$h3-font-size: $font-size-base * 1.25;
$h4-font-size: $font-size-base * 1.2;
$h5-font-size: $font-size-base * 1.125;
$h6-font-size: $font-size-base;

$display4-size: 3rem;

$headings-font-weight: 700;
$btn-font-weight: $font-weight-bold;
$border-radius: .3125rem;
$headings-margin-bottom: 1rem;
$headings-line-height:  1.5;

$paragraph-margin-bottom:   1rem;

// Shadow
$box-shadow-sm:     0 2px 4px 0 rgba(147, 150, 171, 0.1);
$box-shadow:        0 2px 8px 0 rgba(147, 150, 171, 0.1);
$box-shadow-lg:     0 5px 15px 0 rgba(147, 150, 171, 0.1);
$btn-box-shadow: 	none;

// Padding
$spacer: 15px;


$spacers: (
	0: 0,
	1: ($spacer * .25),
	2: ($spacer * .5),
	3: $spacer,
	4: ($spacer * 1.5),
	5: ($spacer * 3),
	6: ($spacer * 4),
	7: ($spacer * 5),
	8: ($spacer * 7),
	9: ($spacer * 9),
	10: ($spacer * 10)
);


$input-btn-padding-y: .625rem;
$input-btn-padding-x: .75rem;
$btn-padding-y: $input-btn-padding-y;
$btn-padding-x: $spacer*1.5;

$navbar-padding-y: 1rem;
$navbar-padding-x: 1rem;
$nav-link-padding-x: .75rem;
$navbar-nav-link-padding-x:  .75rem;


// Dropdown
$dropdown-padding-y:                1rem;
$dropdown-border-color:             $border-color;
$dropdown-divider-bg:               $dropdown-border-color;
$dropdown-box-shadow:               $box-shadow-lg;
$dropdown-font-size:                15px;

$dropdown-link-color:               rgba($body-color,.6);
$dropdown-link-hover-color:         $primary;
$dropdown-link-hover-bg:            none;

$dropdown-link-active-color:        $primary;
$dropdown-link-active-bg:           rgba($component-active-bg,.1);

$dropdown-link-disabled-color:      rgba($body-color,.25);

$dropdown-header-color:             $headings-color;

// Forms
$input-transition:                      border-color .15s ease-in-out, box-shadow .15s ease-in-out;

$form-text-margin-top:                  .25rem;

$form-check-input-gutter:               1.25rem;
$form-check-input-margin-y:             .3rem;
$form-check-input-margin-x:             .25rem;

$form-check-inline-margin-x:            .75rem;
$form-check-inline-input-margin-x:      .3125rem;

$form-grid-gutter-width:                16px;
$form-group-margin-bottom:              1rem;

$custom-forms-transition:               background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

$custom-control-gutter:                 .5rem;
$custom-control-spacer-x:               1rem;

$custom-control-indicator-size:         1.25rem;
$custom-control-indicator-bg:           $input-bg;

$custom-control-indicator-bg-size:      50% 50%;
$custom-control-indicator-box-shadow:   $input-box-shadow;
$custom-control-indicator-border-color: darken($input-border-color,10%);
$custom-control-indicator-border-width: $input-border-width;

$input-padding-y:                       .6875rem;
$input-padding-x:                       $input-btn-padding-x;

$input-box-shadow:                      none;


$input-height-border:                   $input-border-width * 2;

$input-height-inner:                    calc(#{$input-line-height * 1em} + #{$input-padding-y * 2});
$input-height-inner-half:               calc(#{$input-line-height * .5em} + #{$input-padding-y});
$input-height-inner-quarter:            calc(#{$input-line-height * .25em} + #{$input-padding-y / 2});

$input-height:                          calc(#{$input-line-height * 1em} + #{$input-padding-y * 2} + #{$input-height-border});
$input-height-sm:                       calc(#{$input-line-height-sm * 1em} + #{$input-btn-padding-y-sm * 2} + #{$input-height-border});
$input-height-lg:                       calc(#{$input-line-height-lg * 1em} + #{$input-btn-padding-y-lg * 2} + #{$input-height-border});


// Cards
$card-border-color:                 $border-color;
$card-spacer-x:                     2rem;