@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,300&display=swap');

a, a.lead {
    font-weight: $font-weight-bold;
}

.lead {
    font-weight: 400;
}

small, .small {
    font-weight: 400;
}

.text-white {
    .display-1, display-2, display-3, display-4, h1, h2, h3, h4, h5, h6, h1, h2, h3, h4, h5, h6, blockquote {
        color: $white;
    }

    a {
        transition: $transition-base;
    }

    .text-muted {
        color: rgba($white, .5) !important;
    }
    hr{
        border-color: rgba($white,.1);
    }
}

.text-small {
    font-size: .875rem;
    line-height: 1.25rem;
}


.display-4 {
    line-height: 1.5;
}

.single {
    .post-content {
        font-weight: 500;
        line-height: 1.65;
        font-size: 1.03rem;

        h1, h2, h3, h4, h5, h6 {
            padding-top: $headings-margin-bottom * 1.5;
            text-transform: capitalize;
        }
    }
}

.single-product {
    .post-content {
        font-size: 1rem;
    }
}

code {
	background-color: $gray-300;
    padding: 3px 5px;
    border-radius: 3px;
    margin: 0px 3px;
    color: inherit;
}