@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,300&display=swap');

a, a.lead {
    font-weight: $font-weight-bold;
}

.lead {
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: -.02em;
    word-spacing: 1px;
}

small, .small {
    font-weight: 400;
    font-size: .9rem;
}

.product-info {
    h1, h2, h3, h4, h5, h6 {
        padding-top: $headings-margin-bottom;
    }    
}