.navbar-nav {
    display: flex;
    flex-direction: column; 
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  
    .nav-link {
        svg {
            fill: currentColor;
            width: 20px;
            margin-right: .5rem!important;
            font-weight: 100;        
        }
    }
  
    .dropdown-menu {
        position: static;
        float: none;
    }
}

.navbar-brand {
    margin-right: 1.25rem;
    font-weight: 800;
}