.rounded-lg {
    border-radius: $border-radius * 3;
}

.o-hidden {
    overflow: hidden;
}

.no-arrow:after {
    display: none;
}

.border-dark {
    border-color: $border-color-dark;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        .sticky-#{$breakpoint}-top {
            position: sticky !important;
            top: 80px;
            z-index: $zindex-sticky;
        }
        [class*='sticky-#{$breakpoint}'][class*='-top'] {
            &[class*='col'] {
                top: $spacer * 1.5;
            }
        }
    }
}

.bg-image {
    &:not([class*='absolute']) {
        position: absolute;
    }
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    + .card-body {
        position: relative;
        z-index: 1;
    }
}

img.bg-image {
    object-fit: cover;
}

.opacity-0 {
    opacity: 0;
}

@for $i from 1 through 9 {
    $opacity: ($i / 10);
    .opacity-#{($i*10)} {
        opacity: $opacity;
    }
}

.h-0 {
    height: 0;
}

@for $i from 1 through 9 {
    $height: ($i * 10);
    .min-vh-#{$height} {
        min-height: #{$height}vh;
    }
}

@include media-breakpoint-up(md) {
    @for $i from 1 through 10 {
        $height: ($i * 10);
        .min-vh-md-#{$height} {
            min-height: #{$height}vh;
        }
    }
}

@include media-breakpoint-up(lg) {
    @for $i from 1 through 10 {
        $height: ($i * 10);
        .min-vh-lg-#{$height} {
            min-height: #{$height}vh;
        }
    }
}

img {
    &.h-100 {
        object-fit: cover;
    }
    &.flex-fill {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.img-fluid {
    &.position-relative {
        z-index: 1;
    }
}

@include media-breakpoint-up(lg) {
    .w-lg-100 {
        width: 100%;
    }
}

[class*='hover-'] {
    transition: $transition-base;
}

.hover-fade-out {
    &:hover {
        opacity: 0.75;
    }
}

.hover-box-shadow {
    &:hover {
        box-shadow: $box-shadow;
        transform: translateY(-$spacer * 0.3);
    }
}

.top {
    top: 0;
    bottom: auto;
}

.bottom {
    top: auto;
    bottom: 0;
}

.left {
    right: auto;
    left: 0;
}

.right {
    left: auto;
    right: 0;
}

.border-thick {
    border-width: $border-width * 4 !important;
}

@include media-breakpoint-up(lg) {
    .border-lg-right {
        border-right: $border-width solid $border-color;
    }
}

.dropdown-toggle.no-arrow::after {
    display: none;
}

.img-lg {
    width: 92px;
    height: 92px;
}
.img-sm {
    width: 43px;
    height: 43px;
}
.img-xs {
    width: 37px;
    height: 37px;
}
.img-ss {
    width: 26px;
    height: 26px;
}

.badge {
    vertical-align: middle;
}

.intro {
    padding: 75px 45px;
    @include border-radius($border-radius-lg * 3);
    position: relative;
    background-color: $soft-green;
}
