.section-footer {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    color: $light;

    & h6 {
        color: $light;
    }

    & a {
        color: $gray-400;  
    }
}

.footer-link ul li a {
    text-decoration: underline;
    color: #7a7a8c;
    &:hover {
        color: $link-hover-color;
    }
}

.footer-alt {
    bottom: 0;
    padding: 19px 15px 20px;
    position: fixed;
    right: 0;
    color: #98a6ad;
    left: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 0 1px rgba(50,58,70,.1);
    box-shadow: 0 0 1px rgba(50,58,70,.1);
}

.footer-bottom {
    font-weight: 700;
    @include font-size(15px);
}